## WARNING: Make your GitHub repo Private if you are using this as it is
# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
/*
# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md
!*.sh


# Included Folders
# Example !/component

# Ignore these files/folders
workspace.code-workspace